[[source]]

url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'


[requires]

python_version = '3'


[packages]

django = ">=2"
django-progressive-web-app = "*"
django-pwa-batteries = {git = "https://github.com/devkral/django-pwa-batteries.git"}
"4fe2573" = {path = "./../django-pwa-batteries"}


[dev-packages]

pypandoc = "*"
