[[source]]

url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'


[requires]

python_version = '3'


[packages]

django = ">=2"
django-progressive-web-app = {git = "https://github.com/devkral/django-progressive-web-app.git", branch="django2_views"}
django-pwa-batteries = {git = "https://github.com/devkral/django-pwa-batteries.git"}
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"

[dev-packages]

pypandoc = "*"
